* {
    font-family: 'Poppins', Sans-Serif;
}

h1 {
    font-family:'Abril Fatface', Cursive;
    font-size: 40px;
    text-align: center;
    color: #345995;
    letter-spacing: .2rem;
}
h3 {
    font-family:'Abril Fatface', Cursive;
    font-size: 30px;
    text-align: center;
    letter-spacing: .2rem;
}

ul {
    column-count: 6;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
    justify-content: space-between;
    /* border: 20px solid;
    border-color: #345995; */
}
.heading {
  padding: 60px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.genre-list {
    background-color: #345995;
    color:#03cea4;
    border: 10px solid;
    border-color: #03cea4;
    border-radius: 30px
    /* border-image: linear-gradient(45deg, #e40066, #f4b333) 1; */
}





.login {
  background-color: #345995;
  background-image: linear-gradient(to bottom right, #03cea4, #345995);
  border: 0;
  border-radius: .25rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 1.125rem; /* 18px */
  font-weight: 600;
  line-height: 1.75rem; /* 28px */
  padding: 1rem 1.25rem;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.login:hover {
  background-image: linear-gradient(45deg, #e40066, #f4b333) ;
}

@media (min-width: 1024px) {
  .login {
    font-size: 1.5rem; /* 24px */
    padding: 1rem 1.5rem;
    line-height: 2rem; /* 32px */
  }
}

/* '#345995','#e40066','#03cea4','#f4b333','#fb4d3d' */